<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665461475669-51s4404qd2h1cbt61ljk4jd0g0q8n8vm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665461475669-51s4404qd2h1cbt61ljk4jd0g0q8n8vm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>665461475669-dlfbvs3h14lc4q066bfr5rvgbbt33dni.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-9noaJ2lbfOJsJ_AgefNVoUQGF9sud9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>665461475669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.niceapp.example</string>
	<key>PROJECT_ID</key>
	<string>vicsacsamini-dbeb2</string>
	<key>STORAGE_BUCKET</key>
	<string>vicsacsamini-dbeb2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665461475669:ios:40bfabc6dd51d8f39587dc</string>
</dict>
</plist>